:root {
    /* Colors */
    --color-light-gray: #F5F5F8;
    --color-white: #FFFFFF;
    --color-blue: #6495ED;
    --color-coral: #F08080;
    --color-red: #DE3163;
    --color-green: #008000;
    --color-teal: #008080;

    /* Spacing Vertical */
    --spacing-v-s: 8px;
    --spacing-v-m: 24px;
    --spacing-v-l: 40px;
    --spacing-v-xl: 80px;

    /* Spacing Horizontal */
    --spacing-h-s: 8px;
    --spacing-h-m: 24px;
    --spacing-h-l: 40px;
}